name: Publish to npm and GitHub Packages

on:
  release:
    types: [published]
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:

concurrency:
  group: publish-${{ github.ref }}
  cancel-in-progress: false

jobs:
  publish:
    name: Publish integration as package
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2.1.2
        with:
          bun-version: latest

      - name: Setup Node
        uses: actions/setup-node@v6.1.0
        with:
          node-version: 24

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Build package
        run: bun run build

      - name: Setup Node with npm registry
        uses: actions/setup-node@v6.1.0
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org

      - name: Publish package to npm
        run: npm publish --provenance --access public

      - name: Setup Node with GitHub Packages registry
        uses: actions/setup-node@v6.1.0
        with:
          node-version: 24
          registry-url: https://npm.pkg.github.com
          scope: "@newgentdigital"

      - name: Publish package to GitHub Packages
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
